span {

    color:greenyellow;
    font-weight: bold;
}


.div1 {

    color: green;
}
.div2 {
    color: yellow;
}
.carre{
	width:200px;
	height:200px;
	background:#069;
}
.carrerouge{
	width:200px;
	height:200px;
	background:red;
}
.carrevert{
	width:200px;
	height:200px;
	background:green;
} 
.carrenoir{
	width:200px;
	height:200px;
	background:black;
}